{{- define "main" }}

{{ $profile := index .Site.Data.profiles (lower .Title) }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
    </h1>
  </header>
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" false) }}

  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>

  <br>
  <div class="post-event">
    {{ partial "svg.html" (dict "name" "stadia") }}
    <ul class="event-details">
      <li class="event host">
        <a href="{{ $profile.stadia.url }}" target="_blank">{{ $profile.stadia.name }} 
        {{- if $profile.stadia.founder -}}
          {{ partial "svg.html" (dict "name" "stadia_founder") }}
        {{- end -}}
        </a>
      </li>
    </ul>
  </div>

  <footer class="post-footer">
    {{- if $.Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
</article>

{{- end  }}{{/* end main */}}
