.post-event {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform .1s;
  display: flex;
  flex-direction: row;
}

.event-icon {
  position: absolute;
}

.event-details {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  list-style: none;
  font-weight: bold;
}

.value {
  font-weight: 400;
}

.event-details a {
  color: inherit;
  border-bottom: 1px solid var(--secondary);
}

.event_list {
  display: flex;
  flex-direction: column;
}

.embed-event {
  display: flex;
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform .1s;
}

.embed-event ul {
  margin-bottom: 0;
}

.event-details {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
  padding-left: 40px;
}

.value {
  font-weight: 400;
}

.event-footer {    
  display: block;
  color: var(--secondary);
  font-size: 14px;
  background: var(--code-bg);
  width: fit-content;
  border: 1px solid var(--tertiary);
  list-style: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  line-height: 24px;
  border-radius: 10px 0 10px 0;
  float: right;
}

.event .entry-metadata {
  color: var(--secondary);
  font-size: 14px;
}

.event .event_footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.event .event_footer .tags {
  display: inline-flex;
}
.event .event_footer .tag {
  color: var(--secondary);
  font-size: 14px;
  background: var(--code-bg);
  width: fit-content;
  list-style: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  line-height: 24px;
  border-radius: 10px 0 10px 0;
  margin-left: 10px;
}