
.social-footer {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

@media only screen and (max-width: 600px) {
  .social-footer {
    padding: 0 10px;
  }
}

.follow, .share {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: center;
}
