.team .team_footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.team .team_footer .tags {
  display: inline-flex;
}
.team .team_footer .tag {
  color: var(--secondary);
  font-size: 14px;
  background: var(--code-bg);
  width: fit-content;
  list-style: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  line-height: 24px;
  border-radius: 10px 0 10px 0;
  margin-left: 10px;
}