{{- define "main" }}
<script src="https://kit.fontawesome.com/809964c0fc.js" crossorigin="anonymous"></script>
<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- $pages := where site.RegularPages "ExpiryDate" "lt" now }}

{{- range $pages.GroupByExpiryDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 class="archive-year-header">
    {{- replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>
  {{- range $index, $months :=.Pages.GroupByExpiryDate "January" }}
  {{ $first := gt $index 0 }}
  <div class="archive-month {{ if $first }}collapse{{ end }}">
    <button class="toggle-button" onclick="toggle(this)">
      {{ if $first }}
      <i class="fas fa-expand-alt"></i>
      {{ else }}
      <i class="fas fa-compress-alt"></i>
      {{ end }}
    </button>
    <h3 class="archive-month-header">{{- $months.Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len $months.Pages }}</sup></h3>
    <div class="archive-posts">
      {{- range sort $months.Pages "ExpiryDate" "desc" }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">
          {{- .Title | markdownify }}
        </h3>
        <div class="archive-meta">
          {{- if .Page.Params.tags }}
          <ul class="post-tags">
            <li><a>{{- partial "post_meta.html" . -}}</a></li>
            {{- range (.Page.GetTerms "tags") }}
            <li><a>{{ .Page.LinkTitle }}</a></li>
            {{- end }}
          </ul>
          {{- end }}
        </div>
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}
<script>
  function toggle(e) {
      console.log(e.parentNode);
      const month = e.parentNode;

      if (month.classList.contains('collapse')) {
        month.classList.remove('collapse');
        e.innerHTML = `<i class="fas fa-compress-alt"></i>`;
      } else {
        month.classList.add('collapse');
        e.innerHTML = `<i class="fas fa-expand-alt"></i>`;
      }
  }


</script>

{{- end  }}{{/* end main */}}
