{{- define "main" }}

<article class="post-single event">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    <div class="post-description">
       {{ .Description }}
    </div>    
    {{- if .Params.hideMeta }}{{ else }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- if .IsTranslated -}}&nbsp;|&nbsp;
      <ul class="i18n_list">
        {{- i18n "translations" | default "Translations"}}:
        {{- range .Translations }}
        <li>
          <a href="{{ .Permalink }}">
            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify | humanize -}}
            {{- else }}
            {{- .Lang | humanize -}}
            {{- end -}}
          </a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    {{- end}}
  </header>

  {{- $isHidden := ((.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInSingle) | default .Params.cover.hidden )}}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
</article>

{{- end  }}{{/* end main */}}
