{{- define "main" }}

{{- if .Title }}
<header class="page-header{{- if .IsHome }} home{{- end}}">
  <h1>
    {{- if .Params.gamelink }}
    <a href="{{ .Params.gamelink }}">{{.Title}}</a>
    {{- else -}}
    {{- .Title -}}
    {{- end -}}
  </h1>
</header>
{{- end }}

{{- if .Content }}
<div class="post-content{{- if .IsHome }} home{{- end}}">{{ .Content }}</div>
{{- end}}

{{- if .IsHome }}
{{- if .Params.cover }}
{{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" false) }}
{{- end }}
{{- partial "home_social_icons.html" $.Site.Params.socialIcons -}}
{{- end }}

{{- $events := union .RegularPages .Sections }}
{{- $recurring := where $events "ExpiryDate" "lt" (now.AddDate -10 0 0) }}
{{- $pages := $recurring | union (where $events "ExpiryDate" "gt" now) }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end}}

{{ $paginator := .Paginate $pages }}
{{ $term := .Data.Term}}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}
{{- if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}
{{ if or (.IsSection)  (lt .ExpiryDate (now.AddDate -10 0 0)) (gt .ExpiryDate now) }}
<article class="{{ $class }}">
  {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList)}}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2>
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h2>
  </header>
  {{- if or (eq .Params.hideSummary false) (eq .Site.Params.hideSummary false) }}
  <section class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}...</p>
  </section>
  {{- end }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}

    {{- if .Page.Params.event }}
    <ul class="event-footer">
      {{- if .Params.event.recurring }}
      <li>{{ .Params.event.recurring }} {{ dateFormat "@ 15:04" .Params.event.start }}</li>
      {{- else }}
      <li>{{ dateFormat "02/01/2006 @ 15:04" .Params.event.start }}</li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end  }}{{- /* end main */ -}}
