<div class="social-icons home">
    {{- range . -}}
    <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me"
        title="{{ .name | humanize }}">{{ partial "svg.html" . }}</a>
    {{- end -}}
</div>