{{ $title := .Title }}
{{ with .Params.tags }}
    {{ if in . $title }}
        {{ $title = (delimit . " | ")  }}
    {{ else }}
        {{ $title = printf "%s: %s" (delimit . " | ") $title }}
    {{ end }}
{{ end }}
<meta property="og:title" content="{{ $title }}" />

{{ $description := .Summary }}

{{ if and (eq $description "") .Params.event }}
    {{ $date := dateFormat "Monday, Jan 02 2006 at 15:04 MST" .Params.event.start }}
    {{ $end := .Params.event.duration }}

    {{ if eq $end nil }}
        {{ $end = dateFormat "Monday, Jan 02 2006 at 15:04 MST" .Params.event.end }}
        {{ $description = printf "To be held on %s and continue until %s" $date $end }}
    {{ else }}
        {{ $description = printf "To be held on %s. This event is scheduled to last approximately %s" $date $end }}
    {{ end }}
{{ end }}

{{ if or (eq $description nil) (eq $description "") }}{{ $description = .Site.Params.Description }}{{ end }}
<meta property="og:description" content="{{ $description }}" />

{{ $type := "article" }}
{{ if .Params.event }}{{ $type = "event" }}{{ end }}
{{ if or (eq $type nil) (eq $type "") }}{{ $type = "website" }}{{ end }}
<meta property="og:type" content="{{ $type }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- if .Params.cover.image -}}
{{ $image := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
{{ if eq $image nil }}{{ $image = resources.Get (printf "images/%s" (.Params.cover.image)) }}{{end}}
{{ $image = $image.Resize "1200x630" }}
<meta property="og:image" content="{{ $image.Permalink | absURL }}" />
{{ end }}

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ else if not .Date.IsZero }}<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ end }}
{{- if not .Lastmod.IsZero }}<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- else }}
{{- if not .Date.IsZero }}<meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end }}
{{- end }}{{/* .IsPage */}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}{{- range . }}<meta property="og:video" content="{{ . | absURL }}" />{{ end }}{{ end }}


{{- if .IsPage }}
<meta property="article:section" content="{{ .Section }}" />
{{- with .Params.tags }}{{ range first 6 . }}<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }}
{{- end }}

{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with .Site.Social.facebook_admin }}<meta property="fb:admins" content="{{ . }}" />{{ end }}
