{{- if .Params.cover.image -}}

{{ $image := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
{{ if eq $image nil }}{{ $image = resources.Get (printf "images/%s" (.Params.cover.image)) }}{{end}}
{{ $image = $image.Resize "1200x630" }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ $image.Permalink | absURL }}" />
{{- else }}
<meta name="twitter:card" content="summary"/>
{{- end -}}

{{ $title := .Title }}
{{ with .Params.tags }}
    {{ if in . $title }}
        {{ $title = (delimit . " | ")  }}
    {{ else }}
        {{ $title = printf "%s: %s" (delimit . " | ") $title }}
    {{ end }}
{{ end }}
<meta name="twitter:title" content="{{ $title }}"/>

{{ $description := .Summary }}

{{ if and (eq $description "") .Params.event }}
    {{ $date := dateFormat "Monday, Jan 02 2006 at 15:04 MST" .Params.event.start }}
    {{ $end := .Params.event.duration }}

    {{ if eq $end nil }}
        {{ $end = dateFormat "Monday, Jan 02 2006 at 15:04 MST" .Params.event.end }}
        {{ $description = printf "To be held on %s and continue until %s" $date $end }}
    {{ else }}
        {{ $description = printf "To be held on %s. This event is scheduled to last approximately %s" $date $end }}
    {{ end }}
{{ end }}

{{ if or (eq $description nil) (eq $description "") }}
{{ $description = .Site.Params.Description }}
{{ end }}

<meta name="twitter:description" content="{{ $description }}"/>
{{ with .Site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
