{{- define "main" }}

<article class="post-single event">
  {{- $isHidden := ((.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInSingle) | default .Params.cover.hidden )}}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    <div class="post-description">
       {{ .Description }}
    </div>
  </header>

  {{- if .Params.event }}
  <div class="post-event">
    {{ partial "svg.html" (dict "name" "calendar") }}
    <ul class="event-details">
      {{- if .Params.event.recurring }}
        {{ $recurring := split .Params.event.recurring " " }}
        {{- if .Params.event.start }}
          {{ if (eq .Params.event.interval 2) }}
            {{ $recurring = slice "Bi-" | append $recurring }}
          {{ end }}
          {{ if in $recurring "Daily" }}
          <li class="event day">Event:
            <span class="value">{{ delimit $recurring " " }} {{ dateFormat "at 15:04" .Params.event.start }}</span>
          </li>
          {{ else }}
          <li class="event day">Event:
            <span class="value">{{ delimit $recurring " " }} every {{ dateFormat "Monday at 15:04" .Params.event.start }}</span>
          </li>
          {{ end }}
        {{ else }}
        <li class="event day">Event:
          <span class="value">{{ .Params.event.recurring }}</span>
        </li>
        {{- end}}
        {{- if .Params.event.end }}
        <li class="event day">Ends on:
          <span class="value">{{ dateFormat "Monday, Jan 02 2006 at 15:04" .Params.event.end }}</span>
        </li>
        {{- end}}
      {{ else}}
        {{- if .Params.event.start }}
          {{- if .Params.event.end }}
          <li class="event start">Starts at:
            <span class="value">{{ dateFormat "January 2 2006 15:04" .Params.event.start }}</span>
          </li>
          <li class="event end">Ends at:
            <span class="value">{{ dateFormat "January 2 2006 15:04" .Params.event.end }}</span>
          </li>
          {{ else }}
            <li class="event day">Event:
              <span class="value">{{ dateFormat "January 2 2006" .Params.event.start }}</span>
            </li>
            <li class="event start">Starts at:
              <span class="value">{{ dateFormat "15:04" .Params.event.start }}</span>
            </li>
          {{- end }}
        {{- end }}
      {{- end}}
      {{ with .Params.event.duration }}
      <li class="event duration">Expected duration:

        {{ $time := ( . | time.ParseDuration ) }}
        
        <span class="value">{{ $time.Hours }}h</span>
      </li>
      {{ end }}
      {{- if .Params.event.show_calendar_link }}
      <li class="event calendar_link">Calendar Link:
        <span class="value">{{ partial "google_calendar_link" . }}</span>
      </li>
      {{- end }}
    </ul>
  </div>

  <div class="post-event">
    {{ $profile := index .Site.Data.profiles (lower .Params.Author) }}
    {{ with $profile }}
    {{ partial "svg.html" (dict "name" "stadia") }}
    {{ end }}
    <ul class="event-details">
      {{- with $profile }}
      <li class="event host">Host: 
        <span class="value"><a href="{{ .stadia.url }}" target="_blank">{{ .stadia.name }}</a></span>&nbsp;
      </li>
      {{- end }}
      {{ if (.Params.event.show_rules | default true) }}
      <li class="event rules">Rules:
        <a class="value" href="/rocr">See here</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{- end }}
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>

  {{- if and ($.Site.Params.comments) (ne .Params.comments false) }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end  }}{{/* end main */}}
