{{ $start := .Get "start" }}
{{ $end := .Get "end" }}
{{ $recurring := .Get "recurring" }}
{{ $duration := .Get "duration" }}
{{ $calendar_link := .Get "calendar_link" }}

<div class="embed-event">
  <ul class="event-details">
    <li class="event name">{{ .Get "name" }}</li>
    {{- if $recurring }}
      {{- if $start }}
        <li class="event day">Event:
          <span class="value">{{ $recurring  }} every {{ dateFormat "Monday at 15:04 MST (-07)" $start }}</span>
        </li>
      {{ else }}
      <li class="event day">Event:
        <span class="value">{{ $recurring }}</span>
      </li>
      {{- end}}
      {{- if $end }}
      <li class="event day">Ends on:
        <span class="value">{{ dateFormat "Monday, Jan 02 2006 at 15:04 MST (-07)" $end }}</span>
      </li>
      {{- end}}
    {{ else}}
      {{- if $start }}
        {{- if $end }}
        <li class="event start">Starts at:
          <span class="value">{{ dateFormat "Monday, Jan 2 2006 15:04 MST (-07)" $start }}</span>
        </li>
        <li class="event end">Ends at:
          <span class="value">{{ dateFormat "Monday, Jan 2 2006 15:04 MST (-07)" $end }}</span>
        </li>
        {{ else }}
          <li class="event day">Date:
            <span class="value">{{ dateFormat "Monday, Jan 2 2006" $start }}</span>
          </li>
          <li class="event start">Starts at:
            <span class="value">{{ dateFormat "15:04 MST (-07)" $start }}</span>
          </li>
        {{- end }}
      {{- end }}
    {{- end}}
    {{ with $duration }}
      {{ $time := ( . | time.ParseDuration ) }}
      <li class="event duration">Expected duration:
        <span class="value">{{ $time.Hours }}h</span>
      </li>
    {{ end }}

    {{- if $calendar_link }}
    <li class="event calendar_link">Calendar Link:
      <span class="value">{{ .Inner }}</span>
    </li>
    {{- end }}
  </ul>
</div>