{{ $image := .Get "src" | $.Page.Resources.GetMatch }}

{{ $alt := (.Get "alt" | default .Params.cover.caption | plainify) }}
{{ $addLink := .Get "linkFullImage" }}
{{ $sizes := (slice "360" "480" "720" "1080" "1500") }}
{{ $processableFormats := (slice "jpg" "jpeg" "png" "tif" "bmp") }}

<figure class="page-image">
    {{- with $image -}}{{/* i.e it is present in page bundle */}}
        {{- if $addLink }}<a href="{{ .Permalink | absURL }}" target="_blank"
            rel="noopener noreferrer">{{ end -}}
        {{- if  (in $processableFormats $image.MediaType.SubType) }}
        <img srcset="{{- range $size := $sizes -}}
                        {{- if (ge $image.Width $size) -}}
                        {{ printf "%s %s" (($image.Resize (printf "%sx" $size)).Permalink) (printf "%sw ," $size) -}}
                        {{ end }}
                    {{- end -}}{{$image.Permalink }} {{printf "%dw" ($image.Width)}}"
            sizes="(min-width: 768px) 720px, 100vw" src="{{ $image.Permalink }}" alt="{{ $alt }}" />
        {{- else }}{{/* Unprocessable image or responsive images disabled */}}
        <img src="{{ $image.Permalink | absURL }}" alt="{{ $alt }}">
        {{- end }}
        {{- if $addLink }}</a>{{ end -}}
    {{- end }}
</figure>
